# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/web/wp-content/index.php
/web/wp-content/languages
/web/wp-content/plugins/index.php
/web/wp-content/themes/index.php

# Configuration
/web/wp-config.php
wp-config.php

# Example themes
/web/wp-content/themes/twenty*/

# Example plugin
/web/wp-content/plugins/hello.php

# Uploads
/web/wp-content/uploads/

# Log files
*.log

# htaccess
/web/.htaccess

.idea/*

# Develop
docker-compose*.yml
!docker-compose-example.yml
*.sql